
/* font style */
.white, .white a {
	color:white;
}
.white a:hover {
	color:#ff7;
}
.grey, .grey a, a.grey {
	color:#858D92;
}
.green, .green a {
	color:#008000;
}
.yellow, .yellow a {
	color:#f60;
}
a.yellow:hover, a.green:hover {
	color:#666;
}
.font10 {
	font-size:11px;
	color:#AFAFAF
}
.redfont {
	color:#ff0000;
}
.bluefont {
	color:#0000ff;
}
.font14 {
	font-size:14px;
	padding:10px 10px 0px 10px;
	line-height:24px;
}
a.newlink {
	color:#333;
	text-decoration: none;
}
a.newlink:hover {
	color:#f60;
	text-decoration:underline
}
a.testlink {
	color:#D35701;
}
a.post_vote {
	background:url("classical/post_vote.gif") no-repeat;
	height:27px;
	line-height:27px;
	width:86px;
	display:block;
	margin-right:2px;
	text-align:center;
	text-decoration: none;
	margin-left:90px;
	margin-top:13px;
}
a.post_vote:hover {
	background:url("classical/post_vote.gif") no-repeat;
	color:#222;
}
a.post_reply {
	background:url("classical/post_reply.gif") no-repeat;
	height:27px;
	line-height:27px;
	width:86px;
	display:block;
	margin-right:2px;
	text-align:center;
	text-decoration: none;
	margin-left:90px;
	margin-top:13px;
}
a.post_reply:hover {
	background:url("classical/post_reply.gif") no-repeat;
	color:#222;
}
.checkbox {
	border:0px;
}
.limitinfo {
	overflow:hidden;
	float:left;
	display:inline;
	padding:5px 10px;
	border: 1px solid #9CC3D9;
	margin:5px;
	border-top:3px double #9CC3D9;
	text-align : center;
	color:#00008B;
	background-color : #EDF5F9;
}
.info {
	overflow:hidden;
	clear:both;
	float:left;
	display:inline;
	padding:5px 10px;
	border: 1px solid #9CC3D9;
	margin:5px;
	border-top:3px double #9CC3D9;
	text-align : center;
	color:#00008B;
	background-color : #EDF5F9;
}
input {
	padding:1px 3px;
	font-size:12px;
}
.input0 {
	background:url("../images/button_bg.gif");
	border:1px solid #BDC5CA
}
button {
	height:28px;
	line-height:28px;
	border:1px solid #6595d6;
	background:url("../images/button_bg.gif");
	font-size:12px;
}
.button_on {
	background:url("../images/button_bg2.gif");
	border:1px solid #c3a336;
}
.input_on {
	background:url("../images/button_bg2.gif");
	border:1px solid #c3a336;
}
/*按钮样式*/
.btn_ok_big, .btn_add_big, .btn_search_big, .btn_search_small, .btn_white_big, .btn_lvse, .btn_search_zise,  .btn_ok_big:hover, .btn_add_big:hover, .btn_search_big:hover, .btn_search_small:hover, .btn_white_big:hover, .btn_search_zise:hover,.gang_btn,.gang_btn:hover{
	border:none;
	background-color:transparent;
	background:url(../images/btnbg.png) no-repeat;
	cursor:pointer;
	}
.btn_ok_big {
	width:80px;
	height:30px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	background-position:0 -50px;
}
.btn_ok_big:hover {
	background-position:0 -80px;
}
.btn_add_big{
	width:100px;
	height:24px;
	padding-left:15px;
	color:#666;
	background-position:0 -110px;
}
.btn_add_big:hover {
	width:100px;
	height:24px;
	color:#000;
	background-position:0 -136px;
}
.btn_add_big1{
	border:none;
	width:130px;
	height:24px;
	padding-left:15px;
	color:#666;
	background:url(../images/btnbg1.png) no-repeat;
	background-position:0 -110px;
	}
.btn_add_big1:hover{
	cursor:pointer;
	color:#000;
	background-position:0 -136px;
	}


.btn_search_big {
	padding-left:25px;
	width:80px;
	height:30px;
	line-height:26px;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	background-position:-120px -50px;
}
.btn_search_big:hover {
	background-position:-120px -80px;
}
.btn_search_small {
	width:70px;
	height:24px;
	text-align:center;
	color:#fff;
	background-position:0 -0px;
}
.btn_search_small:hover {
	background-position:0 -24px;
}
.btn_white_big {
	width:80px;
	height:30px;
	text-align:center;
	color:#000;
	font-weight:bold;
	background-position:-120px -110px;
}
.btn_white_big:hover {
	color:#000;
	background-position:-120px -140px;
}
.btn_search_zise {
	width:82px;
	height:22px;
	text-align:center;
	color:#fff;
	background-position:left -160px;
}
.btn_search_zise:hover {
	background-position:left -182px;
}
.btn_lvse {
	width:70px;
	height:22px;
	background-position:-80px 0;
	color:#fff;
}

/*减号按钮-------*/
.gang_btn{
	width:112px;
	height:24px;
	text-indent:14px; 
	background-position:left -204px;
	color:#666;
	font-weight:bold;
	}
.gang_btn:hover{
	background-position:left -228px;
	}



.tablebox span a {
	padding:4px 6px;
}




.border {
	background:#fff;
	border:1px solid #ccc;
}
.borderthree {
	background:#fff;
	border:1px solid #6595d6;
	border-bottom:1px solid #6595d6;
}
em {
	font-style:normal;
	color:#9D9D9B;
	font-size:11px;
}
h1 {
	padding-left:15px;
}
h3 {
	line-height:28px;
	background:url("classical/title_bg.gif") repeat-x;
	margin-bottom:10px;
	border:1px solid #fff;
	color:white;
}
h3 em {
	float:right;
	font-size:12px;
	font-weight:100;
	padding-right:10px;
}
.padding {
	padding:8px;
	display:block;
	line-height:20px;
}
br {
	line-height:10px;
}
.mainbox, .header, .tablebox, .copyright {
width:100% min-width:960px;
	clear:both;
}
.mainbox {
	margin-top:5px;
	padding:8px 8px 8px;
	background-color:#fff;
	background-image:url(../images/tittlebg.png);
	background-repeat:repeat-x;
	background-position:0px -200px;
}
.cont {
	margin-top:8px;
	padding:8px;
	background-color:#fff;
	border:solid 1px #def;
}
.tablebox {
	margin-bottom:6px;
	margin-top:0px;
}
.tablebox_mt {
	margin-top:10px;
}
.top_title {
	position:relative;
	margin:0 -8px 8px;
	padding:0 10px;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	background-image:url(../images/tittlebg.png);
	background-repeat:repeat-x;
	background-position:0px -0px;
}
.top_title span {
	padding-left:10px;
	font-size:12px;
}
.top_title .back {
	position:absolute;
	top:10px;
	right:10px;
	height:20px;
	line-height:20px;
	color:#336699;
}
.top_btn_cont {
	margin-bottom:8px;
}
.cen_btn_cont {
	margin:5px 0 10px;
	text-align:center;
}
.cen_btn_cont input {
	margin:0 2px;
}
.btm_btn_cont {
	margin:10px 0;
	text-align:center;
}
.btm_btn_cont input {
	margin:0 3px;
}
/*-----左边浮动------------*/
.f_left {
	float:left;
}
.f_right {
	float:right;
}
/*弹出框*/
.ov_sih {
	_width:363px;
	height:480px;
	overflow-y:auto;
	background:#eef5ff;
}
.layer_blue {
	display:none;
	position:fixed;
	top:40%;
	margin-top:-180px;
	left:50%;
	margin-left:-220px;
	padding:1px;
	width:420px;
	background-color:#ccc;
	border:#eee solid 4px;
	z-index:999;
}
.layer_blue_1 {
	width:500px;
}
.layer_blue_2 {
	width:760px;
	left:35%;
}
.layer_blue .tp, .layer_blue_l .tp {
	padding:3px 20px 0;
	height:30px;
	font:bold 13px Arial, Helvetica, sans-serif;
	line-height:30px;
	color:#f60;
	background-color:#ddd;
	border-bottom:#ccc solid 1px;
}
.layer_blue .bd, .layer_blue_l .bd {
	padding:15px 20px;
	font:normal 12px Arial, Helvetica, sans-serif;
	line-height:22px;
	background-color:#f5f5f5;
}
.layer_blue .bd .txt, .layer_blue_l .txt {
	padding-left:80px;
}
.layer_blue .bd .txt label, .layer_blue_l .bd .txt label {
	position:absolute;
	margin-left:-80px;
	width:80px;
	text-align:right;
	color:#666;
}
.layer_blue .bd .time, .layer_blue_l .bd .time {
	background:url(../images/icon_shenhezhong.gif) 10px 10px no-repeat;
}
.layer_blue .bd .btn_cont, .layer_blue_l .bd .btn_cont {
	display:block;
	padding:10px 0;
	text-align:center;
}
.layer_blue .bd .btn_cont input, .layer_blue_l .bd .btn_cont input {
	height:24px;
	line-height:20px;
	vertical-align:middle;
	text-align:center;
}
.btn_weizhi {
	position:relative;
}
.bcg_cont {
	position:absolute;
	padding:1px;
	left:3px;
	width:180px;
	z-index:999;
	background:#6fadff;
	border:1px solid #2272db;
	display:none;
}
.bcg_cont .bd {
	background-color:#eef5ff;
	margin:0;
	padding:4px;
}
.bcg_cont .bd ul {
	margin:0;
	padding:0;
	text-align:left;
	line-height:24px;
}
.powei {
	_margin-top:-270px;
}
/*让position:fixed在IE6下可用! */

* html, * html body /* 修正IE6振动bug */ {
	background-image:url(about:blank);
	background-attachment:fixed;
}
* html .layer_blue /* IE6 头部固定 */ {
	position:absolute;
top:expression((document).documentElement.scrollTop+360);
}
.layer_blue a.closebtn,.layer_blue a.closebtn1,.layer_blue a.closebtn2,.layer_blue a.closebtn3,.layer_blue a.closebtn4,.layer_blue a.closebtn5{
	position:absolute;
	top:-15px;
	right:-15px;
	width:25px;
	height:29px;
	z-index:3200;
	cursor:pointer;
	background-image:url(../images/dexs.png);
	_background-image:url(../images/dexs.gif);
	background-repeat:no-repeat;
}
/* Overlay */
.simplemodal-overlay {
	background-color:#000;
	cursor:inherit;
}
.btn_search_big_1 {
	width:130px;
	height:24px;
	color:#000;
	font-weight:bold;
	background:url(../images/btnbg_2.png) left -110px no-repeat;
	border:none;
}
.btn_search_big_1:hover {
	background:url(../images/btnbg_2.png) left -136px no-repeat;
	border:none;
}
.layer_blue_l {
	padding:1px;
	width:420px;
	background-color:#acd;
	border:#cdf solid 4px;
	z-index:999;
	
}

.upload_pic {
	background:#ddd;
    border:1px solid #CCCCCC;
    height: 118px;
    margin-right: 5px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: center;
    width: 90px;
	float:left;
}	

.pos_pic{
	width:92px;
	height:22px;
	top:-28px;
	height:22px;
	position:relative;
	background:url(../images/sctp.png) no-repeat;
	}

.hover_pic{
	position:relative;
	}
.hover_imgs{
	display:none;
	position:absolute;
	left:62%;top:100%;
	_top:35%;
	_left:10%;
	}


.tutorial{
	margin:10px;
	height:auto;
	border:1px solid #ddd;
	line-height:24px;
	}
.tutorial span.title{
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
	background:#ddd url("../images/tittlebg.gif") repeat-x;
	display:block;
	padding:6px 10px;
	font:bold 14px/24px Arial,"微软雅黑","黑体";
	}	
	
.tutorial p.text{
	margin:10px;
	color:#CF4603;
	}	
	
	
	
	
	
	
