<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="UsedCarCon" connectionString="Data Source=127.0.0.1;Initial Catalog=UsedCarDB;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="UsedCarDBEntities" connectionString="metadata=res://*/UsedCarDBEF.csdl|res://*/UsedCarDBEF.ssdl|res://*/UsedCarDBEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=UsedCarDB;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="encryptKey" value="UsedCar2016" />
    <add key="UploadRoot" value="/uploadfiles" />
    <add key="UploadFiles" value="imgfiles" />    
    <!--大图宽高-->
    <add key="ImgWidth" value="1388"/>
    <add key="ImgHeight" value="1028"/>
    <!--缩略图宽高-->
    <add key="smImgWidth" value="288"/>
    <add key="smImgHeight" value="192"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="30" defaultUrl="main.aspx" name=".ASPXFORMSAUTH"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off"/>
  </system.web>
  <location path="ashx/Admin/LoginCheck.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>    
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>